.row {
  max-width: 90rem;
  margin: 0 auto;
  padding: 1.8rem;

  &:not(:last-child) {
    margin-bottom: $guttervertical;
  }

  @mixin clearfix;
}

.testimonial {
  /* background-color: black; */
  background: url('./assets/testimonials-bg.jpg') top center
    no-repeat;
  background-size: cover;
}

.default {
  background-color: color(black a(10%));
}

.mainBlue {
  background-color: $mainBlue;
}
